@charset "utf-8";
/* CSS Document */

* {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	margin-left: 0%;
	margin-right: 0%;
	background-image: url("background.jpg");
	background-attachment: fixed;
}

video {
	width: 40vw;
	height: 15vw;
}

a {
	color: inherit;
	text-decoration: none;
}

/*top header space*/
#thspace {
	height: 2%;
}

#header {
	background-color: #888888;
	width: 100%;
	border-top-style: solid;
	border-bottom-style: solid;
	position: sticky;
	top: 0;
}

#viewoptions {
	position: fixed;
}

#nav {
	text-align: center;
}


#nav li { 
	display: inline;
	
	border-right-style: solid; 
	border-left-style: solid; 
	
	font-size: 2.5vw;
	font-weight: 600;
	
	padding-right: 1.5vw;	
	padding-left: 1.5vw;
}

#nav .exception{
	color: white;
}

#nav li:hover { 	
	border-right-style: solid; 
	border-left-style: solid;
	
	color: white; 
	
	font-size: 2.6vw;
	
	padding-right: 1.3vw;	
	padding-left: 1.3vw;
}





#title {	
	margin-top: 5%;
	padding-left: 5%;
	margin-left:10%;
	background-color: #999999;
	border-style: solid;
	border-right-style: none;
	font-size: 1.2vw;
	border-radius: 25px 0px 0px 25px;
}


#searchcont {
	float: right;
	width: 30vw;
}

#searchcont .searchbar {
	width: 10vw;
	float: left;
}

#searchcont .search{
	float: right;
}

#searchcont *{
	font-size: 1vw;
	margin-right: 40%;
	border-radius: 10px;
	border-width: 1px;
	border-color: black;
	padding-top: 0.65%;
	padding-bottom: 0.65%;
	padding-left: 0.2%;
}



#content {
	padding-top: 3%;
	margin-top: 3%;
	margin-right: 15vw;
    margin-left: 15vw;
	padding-left: 5vw;
    background-color: #999999;
	border-style: solid;
	border-radius: 25px;
	font-size: 1vw;
	max-width: 100%;
}


#content .summary{
	float: left;
	max-width: 500px;
}
#content .DETAILS{
	margin-right: 1%;
	padding: 2%;
	float: right;
	background-color: #888888;
	border: solid;
	border-radius: 25px;
	height: auto;
}
#content .DETAILS img{
	border: solid;
	width: 15vw;
	height: auto;
}
#content .mainbody{
	float: left;
	max-width: 100%;
}

.favbarparent{
	padding-left: 5vw;
	padding-right: 5vw;
	margin-right: 15vw;
    margin-left: 15vw;
    background-color: #999999;
	border-style: solid;
	border-radius: 25px;
	font-size: 1vw;
	height: 200px;
	line-height: 0%;
}

.favbar img{
	width: 150px;
	height: 100px;
	display: inline;
}

.favbar {
	max-width: 100%;
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;	
}

.imgs img{
	display: block;
	padding: 3%;
	width: 40vw;
	height: auto;
}

#content video{
	display: block;
	padding: 3%;
	width: 40vw;
	height: auto;
}



#cc, #rc, #lc {
	display: inline-block;
    background-color: #999999;
	border-style: solid;
	border-radius: 25px;
	font-size: 1vw;
	height: 300px;
}

#lc{
	padding-right: 2%;
	padding-left: 2%;
    margin-left: 15vw;
	float: left;
	max-width: 19vw;
	height: 30vw;
}
#rc{
	float: right;
	margin-right: 15vw;
	height: 30vw;
	width: 45vw;
}

#rc .updates{
	margin-left: 5%;
}


#rc video{
	height: 75%;
	width: auto;
	margin-left: 5%;
	margin-top: 4%;
}

.announcements {
	padding: 2px;
	background-color: #888888;
	white-space: pre-line;
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 80%;
}
.announcement {
	border-style: solid;
	border-width: 1px;
	padding: 3px;
	background-color: #999999;
}
.updates {
	width: 40vw;
	padding: 2px;
	background-color: #888888;
	white-space: pre-line;
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 80%;
}
.update {
	border-style: solid;
	border-width: 1px;
	padding: 3px;
	background-color: #999999;
}

/*image zoom*/
#imgzoom {
	padding-left: 10vw;
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}
#imgzoom input {
	float: right;
	margin-right: 20vw;
	font-size: 300%;
}
#imgzoom .imgcontainer {
	overflow: auto;	
	padding-top: 1%;
	padding-bottom: 1%;
	height: auto;
	width: auto;
	max-height: 100%;	
}

#options {
	visibility: hidden;
}




